@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
*{
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.slider{
    max-width: 1150px;
    display: flex;
}

.slider, .card{
    background: red;
    flex: 1;
    margin: 0 10px;
    background: #fff;

}
.slider, .card, .img, img{
    height: 70%;
    width: 100%;
    object-fit: cover;
}

.slider, .card, .content{
    padding: 10px 20px;
}

.card, .content, .title{
    color: black;
    font-size: 15px;
    font-weight: 600;
}

.card, .content, .sub-title{
    font-size: 15px;
    font-weight: 600;
    color: #e74c3c;
    line-height: 20px;
}
.card, .content, .p{
    text-align: justify;
    margin: 10px 0;
    color: black;
}

.card, .content{
    text-align: justify;
    margin: 10px 0;
    color: black;
}

.card, .content, .btn{
    display: block;
    text-align: left;
    margin: 10px 0;
    transition: 0.2s;
}
.btn{
    
    color: rgb(138, 71, 71);
    border: none ;
    outline: none;
    font-size: 17px;
    padding: 5px 8px;
    border-radius: 5px ;
    cursor: pointer;
}

.btn:hover{
    transform: scale(0.9);
}